---
layout: default
title: Fiche de jeu pour Brawl Arcane 28
---
<header>
	<h1><img src="{{site.url}}/assets/images/logo_transparent.png" alt="Brawl Arcane 28"></h1>
	<p>Download the rules and support the developer of Brawl Arcane 28 : <a href="https://brettfp.itch.io/brawl-arcane-28">click here</a>.</p>
</header>
<div class="row">
	<div class="column-1_1">	
		<!-- <h2>Player 1</h2> -->
		{% include onglet.html player="playerone" %}
	</div>
	<!-- <div class="column-1_2">
		<h2>Player 2</h2>
		{% include onglet.html player="playertwo" %}
	</div> -->
</div>