---
layout: default
title: Fiche de jeu pour Brawl Arcane 28
---
<header>
	<h1><img src="{{site.url}}/assets/images/logo_transparent.png" alt="Brawl Arcane 28"></h1>
	<p>Download the rules and support the developer of Brawl Arcane 28 : <a href="https://brettfp.itch.io/brawl-arcane-28">click here</a>.</p>
	<button class="js-modal btn-modal-help btn-modal-help_spell" data-modal-title="Spell Selection" data-modal-close-text="Close" data-modal-content-id="modal_spell_selection">Spell selection</button>
	<button class="js-modal btn-modal-help btn-modal-help_crowd" data-modal-title="Spell Selection" data-modal-close-text="Close" data-modal-content-id="modal_crowd_favour">Crowd Favour</button>
	<div id="modal_spell_selection" class="hidden">
		<table>
			<tr>
				<th>1</th>
				<td>Summon Minion</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Shield</td>
			</tr>
			<tr>
				<th>3</th>
				<td>Discipline Spell</td>
			</tr>
			<tr>
				<th>4</th>
				<td>Dominate</td>
			</tr>
			<tr>
				<th>5</th>
				<td>Empower</td>
			</tr>
			<tr>
				<th>6</th>
				<td>Summon Minion</td>
			</tr>
		</table>
	</div>
	<div id="modal_crowd_favour" class="hidden">
		<table>
			<tr>
				<th>1</th>
				<td>A rival fan shouts a personal insult. The Wizard is distracted and has a -1 penalty to Skill until the end of the turn.</td>
			</tr>
			<tr>
				<th>2</th>
				<td>A Fire Gremlin rushes onto the Arena and explodes into flames. A random model takes D6 damage.</td>
			</tr>
			<tr>
				<th>3</th>
				<td>A fist fight breaks out amongst the fans, drawing the full attention of the crowd. Neither player can gain Crowd Favour until your next turn.</td>
			</tr>
			<tr>
				<th>4</th>
				<td>The crowd goes wild. The active player gains 2 Crowd Favour.</td>
			</tr>
			<tr>
				<th>5</th>
				<td>A group from the Wizard's hometown starts a chant. The active player can re-roll a single dice this turn.</td>
			</tr>
			<tr>
				<th>6</th>
				<td>A Crystal Shard spirals out from the crowd. The enemy Wizard takes D6 damage.</td>
			</tr>
		</table>
	</div>
</header>
<div class="row">
	<div class="column-1_1">	
		<!-- <h2>Player 1</h2> -->
		{% include onglet.html player="playerone" %}
	</div>
	<!-- <div class="column-1_2">
		<h2>Player 2</h2>
		{% include onglet.html player="playertwo" %}
	</div> -->
</div>