---
layout: default
title: Fiche de jeu pour Brawl Arcane 28
---

<div class="btn-modals">
	<button class="js-modal btn-modal-help btn-modal-help_spell" data-modal-title="Spell Selection" data-modal-close-text="Close this window" data-modal-close-title="Close this window" data-modal-close-img="{{site.url}}/assets/images/close.svg" data-modal-content-id="modal_spell_selection">
		<span class="fa-solid fa-wand-magic-sparkles" aria-hidden="true"></span>
		Spell selection
	</button>
	<button class="js-modal btn-modal-help btn-modal-help_crowd" data-modal-title="Crowd Favour" data-modal-close-text="Close this window" data-modal-close-title="Close this window" data-modal-close-img="{{site.url}}/assets/images/close.svg" data-modal-content-id="modal_crowd_favour">
		<span class="fa-solid fa-people-group" aria-hidden="true"></span>
		Crowd favour
	</button>
	{% include modal-content.html %}
</div>

<div class="row">
	<div class="column-1_1">	
		<h2>Choise your mage :</h2>
		{% include onglet.html player="playerone" %}
	</div>
	<!-- <div class="column-1_2">
		<h2>Player 2</h2>
		{% include onglet.html player="playertwo" %}
	</div> -->
</div>