<div class="tabcontent__content">
	<div class="tabcontent__element tabcontent__element-character">
		<h3>{{ include.mage_name }}</h3>
		<p class="description">
			{{ include.mage_description }}
		</p>
	</div>
	<div class="tabcontent__element tabcontent__element-stat">
		<h4>Stat</h4>
		<div class="row_table">
			<div class="column_table">
				<h5>Move</h5>
				<p>4</p>
			</div>
			<div class="column_table">
				<h5>Skill</h5>
				<p>4</p>
			</div>
			<div class="column_table">
				<h5>Defence</h5>
				<p>4</p>
			</div>
			<div class="column_table">
				<h5>health</h5>
				<div class="row_health">
	        		<button id="loose_health_mage-{{ include.mage_name-for-script }}">-</button>
	        		<input id="total_health_mage-{{ include.mage_name-for-script }}" type="number" value="15" min="0" max="15"/>
	        		<button id="gain_health_mage-{{ include.mage_name-for-script }}" class="inactive">+</button>        
	        	</div>
			</div>
		</div>
	</div>
	<div class="tabcontent__element tabcontent__element-ability">
		<h4>Ability : {{ include.ability_name }}</h4>
		<p>
			{{ include.ability_description }}
		</p>
	</div>
	<div class="tabcontent__element tabcontent__element-spell">
		<h4>Spell : {{ include.spell_name }}</h4>
		<div class="row_table">
			<div class="column_table">
				<h5>Range</h5>
				<p>{{ include.spell_range }}</p>
			</div>
			<div class="column_table">
				<h5>Damage</h5>
				<p>{{ include.spell_damage }}</p>
			</div>
			<div class="column_table">
				<h5>Special</h5>
				<p>{{ include.spell_special }}</p>
			</div>
		</div>
	</div>
</div>

<div class="tabcontent__content tabcontent__content-minion">
	<div class="tabcontent__element tabcontent__element-ability">
		<h4>{{ include.name_minion }}</h4>
		<div class="row_table">
			<div class="column_table">
				<h5>Move</h5>
				<p>{{ include.move_minion }}</p>
			</div>
			<div class="column_table">
				<h5>Skill</h5>
				<p>{{ include.skill_minion }}</p>
			</div>
			<div class="column_table">
				<h5>Defence</h5>
				<p>{{ include.defence_minion }}</p>
			</div>
			<div class="column_table">
				<h5>Health</h5>
				<p>{{ include.health_minion }}</p>
			</div>
		</div>
		<div class="row_table row_table-minion">
			<div class="column_table">
				<h5>Minion 1</h5>
				<div class="row_health">
	        		<button id="loose_health_minion-{{ include.name_minion-for-script }}-1">-</button>
	        		<input id="total_health_minion-{{ include.name_minion-for-script }}-1" type="number" value="{{ include.health_minion }}" min="0" max="{{ include.health_minion }}"/>
	        		<button id="gain_health_minion-{{ include.name_minion-for-script }}-1" class="inactive">+</button>        
	        	</div>
			</div>
			<div class="column_table">
				<h5>Minion 2</h5>
				<div class="row_health">
	        		<button id="loose_health_minion-{{ include.name_minion-for-script }}-2">-</button>
	        		<input id="total_health_minion-{{ include.name_minion-for-script }}-2" type="number" value="{{ include.health_minion }}" min="0" max="{{ include.health_minion }}"/>
	        		<button id="gain_health_minion-{{ include.name_minion-for-script }}-2" class="inactive">+</button>        
	        	</div>
			</div>
			<div class="column_table">
				<h5>Minion 3</h5>
				<div class="row_health">
	        		<button id="loose_health_minion-{{ include.name_minion-for-script }}-3">-</button>
	        		<input id="total_health_minion-{{ include.name_minion-for-script }}-3" type="number" value="{{ include.health_minion }}" min="0" max="{{ include.health_minion }}"/>
	        		<button id="gain_health_minion-{{ include.name_minion-for-script }}-3" class="inactive">+</button>        
	        	</div>
			</div>
		</div>
	</div>
	<div class="tabcontent__element tabcontent__element-spell">
		<h5>Action : {{ include.action_minion }}</h5>
		<div class="row_table">
			<div class="column_table">
				<h5>Range</h5>
				<p>{{ include.range_minion }}</p>
			</div>
			<div class="column_table">
				<h5>Damage</h5>
				<p>{{ include.damage_minion }}</p>
			</div>
			<div class="column_table">
				<h5>Special</h5>
				<p>{{ include.special_minion }}</p>
			</div>
		</div>
	</div>
</div>