body {
	color: #fff;
	background: #191919;
	line-height: 1.5;
	font-family: Georgia, serif;
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}
h3 {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
}
h4 {
	font-size: 1.6rem;
	font-weight: bold;
}
h5,
p,
input,
button,
.js-tablist {
	font-size: 1.2rem;
}
a {
	color: #61f8ff;
}
a:hover,
a:focus {
	color: #bffcff;
}

header img {
	max-width: 300px;
}

.row {
	display: flex;
}
.column-1_1 {
	margin: 25px;
	width: 100%;
}
.column-1_2 {
	margin: 25px;
	width: 50%;
}
.column-1_1 h2 {
	margin-bottom: 25px;
}

.tabs__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tabs__item {
	display: inline-block;
	margin: 0 5px 5px;
}
.tabs__item:first-child {
	margin-left: 0;
}
.tabs__item:last-child {
	margin-right: 0;
}
.tabs__link {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background: #000;
	cursor: pointer;
}
.tabs__link[tabindex="0"] {
	background: #353535;
}
.tabs__content {
	display: flex;
	background: #353535;
	padding: 25px;
	gap: 25px;
}
@media (max-width: 425px) {
	.tabs__content {
		flex-direction: column;
	}
}
[aria-hidden="true"].tabs__content {
	display: none;
}

.tabcontent__element:not(:last-child) {
	margin-bottom: 25px;
}
.tabcontent__element > h3,
.tabcontent__element > h4,
.tabcontent__element > h5 {
	padding: 10px 20px;
}
.tabcontent__element > h3 {
	background: #000;
}
.tabcontent__element > h4,
.tabcontent__element > h5 {
	background: #0b0b0b;
}
.tabcontent__element > h5 {
	font-weight: bold;
}
.tabcontent__element p {
	margin-top: 10px;
}
.tabcontent__element strong {
	font-weight: bold;
}
.tabcontent__element-ability p {
	display: flex;
	flex-direction: column;
}
.description {
	font-size: 1rem;
	font-style: italic;
}

.row_table {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
}
.row_table > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.row_table > div:last-child {
	flex: 2;
}
.row_table h5 {
	width: 100%;
	font-weight: bold;
	background: #000;
}
.row_table h5,
.row_table p,
.row_table .row_health {
	padding: 10px 20px;
	box-sizing: border-box;
}
.row_table p {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}
.row_table p,
.row_table .row_health {
	border:  1px solid #fff;
}
.row_health {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
.row_health > div {
    display: flex;
    background: white;
    border-radius: 50rem;
}
.row_health button {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    border: 1px solid #6c6c6c;
    background-color: #fff;
}
.row_health input[value="15"] + button,
.row_table-minion input[value="4"] + button {
	opacity: 0.5;
	cursor: not-allowed;;
}
.row_health input[type="number"] {
	text-align: center;
	padding-left: 17px;
	border:  0;
}

.tabcontent__content {
	flex: 2;
}
.tabcontent__content-minion {
	flex: 1;
}
.tabcontent__content-minion .row_table-minion > div:last-child {
	flex: 1;
}
.tabcontent__content-minion .row_table-minion {
	margin-top: 5px;
}