/* Global */
body {
	color: #fff;
	background: #191919;
	line-height: 1.5;
	font-family: Georgia, serif;
	text-align: center;
}
button {
	font-family: Georgia, serif;
}
button, a {
	cursor: pointer;
}

h2,
.modal-title {
	font-size: 2rem;
	font-weight: bold;
}
h3 {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
}
h4 {
	font-size: 1.6rem;
	font-weight: bold;
}
h5,
p,
input,
button,
table,
.js-tablist {
	font-size: 1.2rem;
}

a {
	color: #61f8ff;
}
a:hover,
a:focus {
	color: #bffcff;
}

table {
	width: 100%;
}
table th,
table td {
	padding: 10px 5px;
	border:  1px solid #fff;
	vertical-align: middle;
}
table tr th {
	background-color: #000;
}
table tr:nth-child(odd) td {
	background-color: #1f1e1e;
}
table tr:nth-child(even) td {
	background-color: #333;
}
table th {
	min-width: 50px;
	background-color: #000;
}
footer {
	margin-bottom: 20px;
}
.hidden {
	display: none;
}
.invisible {
	opacity: 0;
	width: 0;
	height: 0;
	display: block;
	text-indent: -9999px;
}

/* Header */
header img {
	max-width: 300px;
}

/* Columns */
.row {
	display: flex;
}
.column-1_1 {
	margin: 25px;
	width: 100%;
}
.column-1_2 {
	margin: 25px;
	width: 50%;
}
.column-1_1 h2 {
	margin-bottom: 25px;
}

/* Tablist */
.tabs__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tabs__item {
	display: inline-block;
	margin: 0 5px 5px;
}
.tabs__item:first-child {
	margin-left: 0;
}
.tabs__item:last-child {
	margin-right: 0;
}
.tabs__link {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background: #000;
	cursor: pointer;
}
.tabs__link[tabindex="0"] {
	background: #353535;
}
.tabs__content {
	display: flex;
	background: #353535;
	padding: 25px;
	gap: 25px;
}
@media (max-width: 600px) {
	.tabs__content {
		flex-direction: column;
	}
}
[aria-hidden="true"].tabs__content {
	display: none;
}

.tabcontent__element:not(:last-child) {
	margin-bottom: 25px;
}
.tabcontent__element > h3,
.tabcontent__element > h4,
.tabcontent__element > h5 {
	padding: 10px 20px;
}
.tabcontent__element > h3 {
	background: #000;
}
.tabcontent__element > h4,
.tabcontent__element > h5 {
	background: #0b0b0b;
}
.tabcontent__element > h5 {
	font-weight: bold;
}
.tabcontent__element p {
	margin-top: 10px;
}
.tabcontent__element strong {
	font-weight: bold;
}
.tabcontent__element-ability p {
	display: flex;
	flex-direction: column;
}
.description {
	font-size: 1rem;
	font-style: italic;
}
.tabcontent__content {
	flex: 2;
}
.tabcontent__content-minion {
	flex: 1;
}
.tabcontent__content-minion .row_table-minion > div:last-child {
	flex: 1;
}
.tabcontent__content-minion .row_table-minion {
	margin-top: 5px;
}

/* Table custom */
.row_table {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
}
.row_table > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.row_table > div:last-child {
	flex: 2;
}
.row_table h5 {
	width: 100%;
	font-weight: bold;
	background: #000;
}
.row_table h5,
.row_table p,
.row_table .row_health {
	padding: 10px 20px;
	box-sizing: border-box;
}
.row_table p {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}
.row_table p,
.row_table .row_health {
	border:  1px solid #fff;
}
.row_health {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
.row_health > div {
    display: flex;
    background: white;
    border-radius: 50rem;
}
.row_health button {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    border: 1px solid #6c6c6c;
    background-color: #fff;
}
.row_health button:hover,
.row_health button:focus {
	color: #fff;
	background-color: #000;
}
.row_health input[value="15"] + button,
.row_table-minion input[value="4"] + button {
	opacity: 0.5;
	cursor: not-allowed;;
}
.row_health input[value="15"] + button:hover,
.row_table-minion input[value="4"] + button:hover,
.row_health input[value="15"] + button:focus,
.row_table-minion input[value="4"] + button:focus {
	color: #000;
	background-color: #fff;
}
.row_health input[type="number"] {
	text-align: center;
	padding-left: 17px;
	border:  0;
}

/* Modal */
dialog {
	display: block;
	border: 0;
}
.no-scroll {
	overflow: hidden;
}
.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 666;
}
.modal {
	position: fixed;
	left: 25%;
	right: auto;
	top: 10%;
	width: 50%;
	color: #fff;
	background: #191919;
	border: 1px solid #fff;
    max-height: calc(100% - 20%);
    overflow: auto;
	z-index: 667;
}
.btn-modals {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	top: 0;
	right: 0;
	margin: 25px 0 0;
	border-radius: 0 0 0 10px;
	background-color: #191919;
	z-index: 99;
}
.btn-modal-help {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	padding: 10px;
	border-radius: 50rem;
	transition: all 0.2s ease-out;
}
.btn-modal-help:hover,
.btn-modal-help:focus {
	color: #fff;
	background-color: #000;
}
.btn-modal-help > span {
	margin-right: 10px;
}
.modal__wrapper {
	position: relative;
}
.modal-title {
	margin-bottom: 20px;
}
.modal-close {
	position: absolute;
	top: 0;
	right: 0;
    display: flex;
    padding: 0 !important;
    margin: 0 0 0 auto;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}